$bg-color: #333a46;
$main-color: #23272f;
$accent-color: #149eca;

$input-bg: #3d404a;

$accent-bg-color: rgba(88,175,223,.1);

$text-color: #c2c2c2;
$text-accent-color: #e3e3e3;
$link-color: #02d8ff;

$error-color: #d54d54;
$success-color: #86d9ca;

$shadow: 0 -1px 10px rgba(0,0,0, .12);
$shadow: 0 -1px 10px rgba(0,0,0, .12);

$error-color: #d54d54;


